@{
	ViewBag.Title = "Home Page";
}

<div class="navigation-search">
	<div id="head-search" class="search-container featured-search fade">
		<!-- Include Search -->
		@Html.Partial("~/Views/shared/modules/search.cshtml")
	</div>

</div>

<!-- Search Results -->
<div class="search-results-container">
	@Html.Partial("~/Views/shared/modules/search-results.cshtml")
</div>
<div class="header-decoration"></div>

<body class="primary">


	<!-- Ask Bar -->
	@Html.Partial("~/Views/shared/modules/ask-bar.cshtml")
	<!-- Step 5: Header Images -->
	<!-- Include for optional slideshow banner -->
	@Html.Partial("~/Views/shared/modules/header-single-banner.cshtml")

	<div id="main-content" class="main-content">
		<main class="main-primary">
			<!-- Begin Main Content -->
			@Html.Partial("~/Views/shared/modules/section-service-group.cshtml")
			@Html.Partial("~/Views/shared/modules/section-open-data.cshtml")
			@Html.Partial("~/Views/shared/modules/section-green-buildings.cshtml")
			@Html.Partial("~/Views/shared/modules/section-green-stats.cshtml")
			@Html.Partial("~/Views/shared/modules/section-mobile-gallery.cshtml")
			@Html.Partial("~/Views/shared/modules/section-footer2.cshtml")
			<!-- End Main Content -->
		</main>
	</div>
</body>